.cosf-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.cosf-card{
    width: 100%;
    margin: 0 auto;
}
.cosf-table-list h2{
    font-weight: 400;
    font-size: 16px;
}
.mdui-table th{
    /* white-space: inherit; */
}
.mdui-table td, .mdui-table th{
    padding: 0;
}
.mdui-table tbody th{
    font-weight: 400;
}
@media (min-width: 600px){
    .cosf-card{
        width: 450px;
    }
    .mdui-table th{
        white-space: inherit;
        white-space: nowrap;
    }
}
.cosf-container::before{
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    content: '';
    display: block;
    height: 24px;
    min-height: 30px;
}
.mdui-container-fluid:after, .mdui-container:after{
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    content: '';
    display: block;
    height: 24px;
    min-height: 30px;
}
.cosf-form-vcode{
    display: flex;
    flex-direction: inherit;
}
.cosf-form-vcode .input{
    width: 100%;
}
.cosf-form-vcode .image{

}
.cosf-form-submit{
    position: relative;
    padding-top: 16px;
    padding-bottom: 8px;
}
.cosf-select{
    display: flex;
    justify-content: space-around;
}