{% extends "layout.html" %}
{% block body %}
<div class="mdui-toolbar mdui-color-theme">
    <span class="mdui-typo-title">学号：{{name[0][0]}}姓名：{{name[0][1]}}</span>
</div>
<div class="mdui-container cosf-table-list">
    <div style="overflow: scroll;">
    {% if sj == '0' %}
    {% for table in data %}
    <h2>学期：{{xq[loop.index0]}}</h2>
    <table class="mdui-table">
        <thead>
            <tr>
                <th>课程</th>
                <!-- <th>学分</th> -->
                <th>类别</th>
                <th>课程类别</th>
                <th>考核</th>
                <!-- <th>修读</th> -->
                <th>平时</th>
                <th>末考</th>
                <th>综合</th>
                <!-- <th>辅修</th> -->

            </tr>
        </thead>
        <tbody>
            {% for e in table %}
            <tr>
                <th>{{e.kecheng}}</th>
                <!-- <th>{{e.xuefeng}}</th> -->
                <th>{{e.leibie}}</th>
                <th>{{e.kechengleibie}}</th>
                <th>{{e.kaohe}}</th>
                <!-- <th>{{e.xiudu}}</th> -->
                <th>{{e.pingshi}}</th>
                <th>{{e.mokao}}</th>
                <th>{{e.zonghe}}</th>
                <!-- <th>{{e.fuxiu}}</th> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    {% else %}
    {% for table in data %}

    <h2>学期：{% for e in table %}{{e.xq}}{% endfor %}</h2>
    <table class="mdui-table">
        <thead>
            <tr>
                <th>课程</th>
                <!-- <th>学分</th> -->
                <th>类别</th>
                <th>课程类别</th>
                <th>考核</th>
                <!-- <th>修读</th> -->
                <th>成绩</th>
                <!-- <th>取得学分</th> -->
                <!-- <th>绩点</th> -->
                <!-- <th>学分绩点</th> -->
            </tr>
        </thead>
        <tbody>
            {% for e in table %}
            <tr>
                <th>{{e.kecheng}}</th>
                <!-- <th>{{e.xuefeng}}</th> -->
                <th>{{e.leibie}}</th>
                <th>{{e.kechengleibie}}</th>
                <th>{{e.kaohe}}</th>
                <!-- <th>{{e.xiudu}}</th> -->
                <th>{{e.chengji}}</th>
                <!-- <th>{{e.qudexuefeng}}</th>
                <th>{{e.jidian}}</th>
                <th>{{e.xuefengjidian}}</th> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    
    {% endif %}
</div>
</div>
{% endblock %}