<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COSF-成绩查询{{title}}</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/mdui/0.4.0/css/mdui.min.css">
    <script src="//cdn.bootcss.com/mdui/0.4.0/js/mdui.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">
    {% block body %}{% endblock %}
</body>
</html>