{% extends "layout.html" %}
{% block body %}
<div class="mdui-container cosf-container">
    <div class="mdui-card cosf-card">
        <div class="mdui-card-content cosf-card-content">
            <h2>登录</h2>
            <p>登录以查询你的成绩。</p>
            <form action="{{ url_for('login') }}" method="POST">
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">学号</label>
                    <input class="mdui-textfield-input" name="username" type="text"/>
                </div>
                <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label">密码</label>
                        <input class="mdui-textfield-input" name="password" type="password"/>
                </div>
                <div class="cosf-form-vcode">
                    <div class="input mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label">验证码</label>
                        <input class="mdui-textfield-input" name="vcode" type="text"/>
                    </div>
                    <div class="image mdui-valign">
                        <img src="data:image/png;base64, {{img}}" alt="vcode" />
                    </div>
                </div>
                <div class="cosf-form-submit">
                    <input type="submit" value="登录" class="mdui-btn mdui-btn-block mdui-ripple mdui-color-theme-accent"></input>
                </div>
            </form>
        </div>
    </div>
</div>
{% if error %}
<script>
    var error = '{{error}}';
    if (error != "None"){
        mdui.snackbar({
            message: error
        });
    }
</script>
{% endif %}
{% endblock %}