{% extends "layout.html" %} {% block body %}
<div class="mdui-container cosf-container">
    <div class="mdui-card cosf-card">
        <div class="mdui-card-content">
            <h2>你要查询？</h2>
            <form action="">
                <input value="0" hidden name="zfx_flag">
                <div class="cosf-select">
                    <label class="mdui-radio">
                        <input value="0" type="radio" name="SelXNXQ" />
                        <i class="mdui-radio-icon"></i>
                        入学以来
                    </label>
                    <label class="mdui-radio">
                        <input value="1" type="radio" name="SelXNXQ" />
                        <i class="mdui-radio-icon"></i>
                        学年
                    </label>

                    <label class="mdui-radio">
                        <input value="2" type="radio" name="SelXNXQ" checked/>
                        <i class="mdui-radio-icon"></i>
                        学期
                    </label>
                </div>
                <br>
                <div class="mdui-divider"></div>
                <br>
                <div class="cosf-select">
                    <div>
                        <span>学年：</span>
                        <select name="sel_xn" class="mdui-select">
                            {% for xn in xnxq %}
                            <option value="{{xn.value}}">{{xn.text}}</option>
                            {% endfor %}
                        </select>
                        &nbsp;&nbsp;&nbsp;
                        <span>学期：</span>
                        <select name="sel_xq" class="mdui-select">
                            <option value="0" selected>第一学期</option>
                            <option value="1">第二学期</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="mdui-divider"></div>
                <br>
                <div class="cosf-select">
                    <label class="mdui-radio">
                        <input value="0" type="radio" name="SJ" checked/>
                        <i class="mdui-radio-icon"></i>
                        原始成绩
                    </label>
                    <label class="mdui-radio">
                        <input value="1" type="radio" name="SJ" />
                        <i class="mdui-radio-icon"></i>
                        有效成绩
                    </label>
                </div>
                <div class="cosf-form-submit">
                    <input type="submit" value="查询" class="mdui-btn mdui-btn-block mdui-ripple mdui-color-theme-accent"></input>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    var $$ = mdui.JQ;
    if ($$("[name='SelXNXQ'][value='1']")[0].checked){
        $$("[name='sel_xn']").removeAttr('disabled')
        $$("[name='sel_xq']").attr('disabled',"true")
    }else if ($$("[name='SelXNXQ'][value='0']")[0].checked){
        $$("[name='sel_xn']").attr('disabled',"true")
        $$("[name='sel_xq']").attr('disabled',"true")
    }
    var selxnxq = $$("[name='SelXNXQ']")
        selxnxq.on('change',function(e){
            if ($$(this).val() == 0){
                $$("[name='sel_xn']").attr('disabled',"true")
                $$("[name='sel_xq']").attr('disabled',"true")
            }else if($$(this).val() == 1){
                $$("[name='sel_xn']").removeAttr('disabled')
                $$("[name='sel_xq']").attr('disabled',"true")
            }else if($$(this).val() == 2){
                $$("[name='sel_xn']").removeAttr('disabled')
                $$("[name='sel_xq']").removeAttr('disabled')
            }
        })

</script>
{% endblock %}