<div class="mdui-container cosf-container">
        <table class="mdui-table">
            <thead>
                <tr>
                    <th>课程</th>
                    <!-- <th>学分</th> -->
                    <th>分类</th>
                    <!-- <th>课程分类</th> -->
                    <th>考核方式</th>
                    <!-- <th>修读性质</th> -->
                    <th>成绩</th>
                    <!-- <th>取得学分</th>
                    <th>绩点</th>
                    <th>学分绩点</th> -->
                </tr>
            </thead>
            <tbody>
                {% for cource in data %}
                <tr>
                    <th>{{cource.course}}</th>
                    <!-- <th>{{cource.credit}}</th> -->
                    <th>{{cource.category}}</th>
                    <!-- <th>{{cource.course_category}}</th> -->
                    <th>{{cource.assessment_method}}</th>
                    <!-- <th>{{cource.nature_of_study}}</th> -->
                    <th>{{cource.achievement}}</th>
                    <!-- <th>{{cource.credits_earned}}</th>
                    <th>{{cource.GPA}}</th>
                    <th>{{cource.credit_scores}}</th> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>